body {
    background-color: #FBF9F3;
}

#header {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 2rem;
}

#title {
    text-align: center;
    color: #323846;
}

#add-button{
   background-color: #323232;
   color: #c3f7eb;
   width: 20%;
   font-size: large;
   padding: 1%;
   border-radius: 10px;
   cursor: pointer;

  
}

#book-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.text {
    color: #88D9F3;
    font-weight: 600;
    margin-top: .875rem;
    margin-bottom: .875rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}